* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    line-height: 1.5;
    background: #fafafa;
}

ul {
    list-style: none;
}
.container{
    padding: 50px 20px;
}

.nav-main{
    position: fixed;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    padding:5px 20px;
    align-items: center;
}

.nave-main .nav-left{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 5px;
}
.nav-main .nav-left .logo{
    width: 125px;
    height: 50px;
    position: relative;
    top: 2px;
}

.nav-main .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

}

.nav-main .search-form input#search{
    padding: 5px 10px;
    width: 100%;
    border: 1px solid;
    font-size: 15px;
}

.nav-main .search-form .i{
    padding: 5px 20px;
    border: 2px  solid green;
    font-size: 15px;
    margin-left: 1px;
}

main{
    margin-right: 60px;
    width: 70%;
    float: left;
    padding-top: 40px;
}

.main-video .h4 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
}

.main-video .video-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-video .video-nav ul{
    display: flex;
    align-items: center;
}

.main-video .video-nav .left-video-nav li:not(:last-child){
    margin-right: 5px;
}
